@use '../.../../../../scss/queries.scss' as *;
.form {
  display: flex;
  flex-direction: column;
}

.hasSubmitted {
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.intro {
  margin-bottom: 24px;
}

.confirmationMessage {
  max-width: 800px;
  text-align: center;
}

.confirmationMessage * {
  margin: 0;
}

.fieldWrap {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(24px * -0.5);
  margin-right: calc(24px * -0.5);
  width: calc(100% + 24px);
}

.fieldWrap > * {
  width: 100%;
}

.Select label {
  position: absolute;
  top: calc(24px * -0.5);
}

.mobileSidebar {
  display: none;
}
