@use "../shared.scss";
// :root {
//   --color-red: rgb(255,0,0);
//   --color-green: rgb(178, 255, 214);
//   --color-white: rgb(255, 255, 255);
//   --color-dark-gray: rgb(51,52,52);
//   --color-mid-gray: rgb(196,196,196);
//   --color-gray: rgb(212,212,212);
//   --color-light-gray: rgb(244,244,244);
//   --color-black: rgb(0, 0, 0);
//   --breakpoint-xs-width : #{$breakpoint-xs-width};
//   --breakpoint-s-width : #{$breakpoint-s-width};
//   --breakpoint-m-width : #{$breakpoint-m-width};
//   --breakpoint-l-width : #{$breakpoint-l-width};
//   --scrollbar-width: 17px;

//   --base: 24px;
//   --font-body: system-ui;
//   --font-mono: 'Roboto Mono', monospace;

//   --gutter-h: 180px;
//   --block-padding: 120px;

//   --header-z-index: 100;
//   --modal-z-index: 90;

//   @include large-break {
//     --gutter-h: 144px;
//     --block-padding: 96px;
//   }

//   @include mid-break {
//     --gutter-h: 24px;
//     --block-padding: 60px;
//   }
// }


.select {
  position: relative;
  margin-bottom: 24px;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.reactSelect {
  // display: flex;

  :global {
    div.rs__control {
      .formInput{
        all: unset;
        // -webkit-appearance: none;
        box-sizing: border-box;
        font-family:  system-ui;
        width: 100%;
        border: 1px solid black;
        background: white;
        color: black;
        font-size: 1rem;
        height: calc(24px * 2.5);
        line-height: 24px;
        padding: calc(24px * 0.75);
      
        &::-moz-placeholder,
        &::-webkit-input-placeholder {
          color: rgb(196,196,196);
          font-weight: normal;
          font-size: 1rem;
        }
      
        &:hover {
          border-color: rgb(196,196,196);
        }
      
        &:focus,
        &:active {
          border-color: rgb(212,212,212);
          outline: 0;
        }
      
        &:disabled {
          background: rgb(244,244,244);
          color: rgb(212,212,212);
      
          &:hover {
            border-color: rgb(244,244,244);
          }
        }
      }
    }

    .rs__input-container {
      color: black;
    }

    .rs__value-container {
      padding: 0;
      > * {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .rs__single-value {
      color: black;
    }

    .rs__indicators {
      position: absolute;
      top: calc(24px * 0.4);
      right: calc(24px * 0.9);
      .arrow {
        transform: rotate(90deg);
      }
    }

    .rs__indicator {
      padding: 0px 4px;
      cursor: pointer;

      svg path {
        fill: rgb(51,52,52);
      }

      &:hover {
        svg path {
          fill: rgb(51,52,52);
        }
      }
    }

    .rs__indicator-separator {
      display: none;
    }

    .rs__menu {
      color: black;
      background-color:white;
      z-index: 2;
      border-radius: 0;
      // box-shadow: 0 4px 11px hsl(0deg 0% 0% / 10%);
    }

    .rs__menu-list {
      padding: calc(24px / 4) 0;
    }

    .rs__group-heading {
      margin-bottom: calc(24px / 2);
    }

    .rs__option {
      font-size: 1rem;
      padding: calc(24px / 2) 24px;

      &--is-focused {
        background-color:rgb(244,244,244);
        color: black;
      }

      &--is-selected {
        background-color:rgb(244,244,244);
        color: black;
      }
    }

    .rs__multi-value {
      padding: 0;
      background:rgb(244,244,244);
    }

    .rs__multi-value__label {
      max-width: 150px;
      color: black;
      padding: calc(24px / 8) calc(24px / 4);
    }

    .rs__multi-value__remove {
      cursor: pointer;

      &:hover {
        color: black;
        background:rgb(244,244,244);
      }
    }

    .rs__clear-indicator {
      cursor: pointer;
    }
  }
}
