@use "../shared.scss";
.select {
  position: relative;
  margin-bottom: 24px;
}

.label {
  margin-bottom: 10px;
  display: block;
}

.reactSelect {
  width: 50%;
}

.reactSelect :global div.rs__control .formInput {
  all: unset;
  box-sizing: border-box;
  font-family: system-ui;
  width: 50vh;
  border: 1px solid black;
  background: white;
  color: black;
  font-size: 1rem;
  height: calc(24px * 2.5);
  line-height: 24px;
  padding: calc(24px * 0.75);
}

.reactSelect :global div.rs__control .formInput::-moz-placeholder, .reactSelect :global div.rs__control .formInput::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: normal;
  font-size: 1rem;
}

.reactSelect :global div.rs__control .formInput:hover {
  border-color: #c4c4c4;
}

.reactSelect :global div.rs__control .formInput:focus, .reactSelect :global div.rs__control .formInput:active {
  border-color: #d4d4d4;
  outline: 0;
}

.reactSelect :global div.rs__control .formInput:disabled {
  background: #f4f4f4;
  color: #d4d4d4;
}

.reactSelect :global div.rs__control .formInput:disabled:hover {
  border-color: #f4f4f4;
}

.reactSelect :global .rs__input-container {
  color: black;
}

.reactSelect :global .rs__value-container {
  padding: 0;
}

.reactSelect :global .rs__value-container > * {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.reactSelect :global .rs__single-value {
  color: black;
}

.reactSelect :global .rs__indicators {
  position: absolute;
  top: calc(24px * 0.4);
  right: calc(24px * 0.9);
}

.reactSelect :global .rs__indicators .arrow {
  transform: rotate(90deg);
}

.reactSelect :global .rs__indicator {
  padding: 0px 4px;
  cursor: pointer;
}

.reactSelect :global .rs__indicator svg path {
  fill: #333434;
}

.reactSelect :global .rs__indicator:hover svg path {
  fill: #333434;
}

.reactSelect :global .rs__indicator-separator {
  display: none;
}

.reactSelect :global .rs__menu {
  color: black;
  background-color: white;
  z-index: 2;
  border-radius: 0;
}

.reactSelect :global .rs__menu-list {
  padding: calc(24px / 4) 0;
}

.reactSelect :global .rs__group-heading {
  margin-bottom: calc(24px / 2);
}

.reactSelect :global .rs__option {
  font-size: 1rem;
  padding: calc(24px / 2) 24px;
}

.reactSelect :global .rs__option--is-focused {
  background-color: #f4f4f4;
  color: black;
}

.reactSelect :global .rs__option--is-selected {
  background-color: #f4f4f4;
  color: black;
}

.reactSelect :global .rs__multi-value {
  padding: 0;
  background: #f4f4f4;
}

.reactSelect :global .rs__multi-value__label {
  max-width: 150px;
  color: black;
  padding: calc(24px / 8) calc(24px / 4);
}

.reactSelect :global .rs__multi-value__remove {
  cursor: pointer;
}

.reactSelect :global .rs__multi-value__remove:hover {
  color: black;
  background: #f4f4f4;
}

.reactSelect :global .rs__clear-indicator {
  cursor: pointer;
}
