@use "../shared.scss";

.wrap {
  position: relative;
  margin-bottom: 24px;
}

.input {
  .formInput{
    all: unset;
    // -webkit-appearance: none;
    box-sizing: border-box;
    font-family: system-ui;
    width: 100%;
    border: 1px solid black;
    background: white;
    color: black;
    font-size: 1rem;
    height: calc(24px * 2.5);
    line-height: 24px;
    padding: calc(24px * 0.75);
    height: auto;
  
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
      color: rgb(196,196,196);
      font-weight: normal;
      font-size: 1rem;
    }
  
    &:hover {
      border-color: rgb(196,196,196);
    }
  
    &:focus,
    &:active {
      border-color: rgb(212,212,212);
      outline: 0;
    }
  
    &:disabled {
      background: rgb(244,244,244);
      color: rgb(212,212,212);
  
      &:hover {
        border-color: rgb(244,244,244);
      }
    }
  }
}

.label {
  margin-bottom: 10px;
  display: block;
}
